/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #BAD8E9;
    text-decoration:none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, h7
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

h7
{
    font-size: 3.5em;
    font-weight: 600;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    background-color: #fff;
    border: 1px solid #496077;
    min-height:800px;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    min-height:165px;
    width: 100%;
    background-color:#F0FFFF;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.title
{
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    background-color:transparent;
}

.logo
{
    height: 157px; 
    width: 481px;
}

.main
{
    padding: 0px 12px;
    min-height: 420px;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #BFCBD6;
    font-weight:bold;
    font-size:1.3em;
    background-color:#3A4F63;
    padding: 8px 0px 8px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    clear:both;
}

div.menu
{
    padding: 4px 0px 4px 4px;
    width:100% !important;
    margin-top:0px;
}

div.menu ul
{
    width:100% !important;
    list-style-type: none;
}

div.menu li
{
    width:33%;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    padding: 4px 20px;
    text-decoration: none;
    font-weight:bold;
    white-space: nowrap;
    text-align:center;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
    font-weight:bold;
    text-align:center;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
    font-size:18px;
    font-weight:bold;
    text-align:center;
}

/* MASTER PAGE
----------------------------------------------------------*/ 
#TextBoxSearch
{
    padding:5px;
}



/* MISC  
----------------------------------------------------------*/
.tree-menu 
{
    list-style: none outside none;
    max-width:14%;
    font-size:18px;
    text-align:left;
    text-decoration:none;
    background-color:#CCCCCC;
    list-style-type:none;
}

.tree-item li:hover, .tree-item a
{
    color:#3A55A5 !important;
    padding: 6px 3px 6px 17px;
}

.current-item
{
    color:#3A55A5 !important;
    padding-top:8px;
    float:left;
    padding-bottom:5px;
    font-weight:bold;    
}

.clear
{
    clear: both;
}

.bold
{
    font-weight: bold;
}

/* Index.aspx (DL)  
----------------------------------------------------------*/
.left-content-section 
{
    margin-top:15px;
    margin-left:180px;
    float:left;
    text-align:justify;
}
.right-content-section
{
    margin-top:15px;
    margin-right:180px;
    float:right;
    text-align:justify;
}
.index-list-item
{
    font-size:large;
}