USE [master]
GO

/****** Object:  Database [QuickStart_DB]    Script Date: 11/08/2012 13:31:23 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'QuickStart_DB')
DROP DATABASE [QuickStart_DB]
GO

USE [master]
GO

/****** Object:  Database [QuickStart_DB]    Script Date: 11/08/2012 13:31:23 ******/
/* CHANGE THE 2 DIRECTORIES BELOW TO YOUR DESIRED DIRECTORY*/
CREATE DATABASE [QuickStart_DB] ON  PRIMARY
( NAME = N'QuickStart_DB', FILENAME = N'C:\QSR Database\QuickStart_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuickStart_DB_log', FILENAME = N'C:\QSR Database\QuickStart_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuickStart_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO






USE [QuickStart_DB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[Password] [varchar](30) NULL,
	[Salutation] [varchar](30) NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[Address1] [varchar](30) NULL,
	[Address2] [varchar](30) NULL,
	[City] [varchar](30) NULL,
	[StateProvinceID] [int] NULL,
	[ZipPostalCode] [varchar](9) NULL,
	[Email] [varchar](30) NULL,
	[IsReceiveNewsletters] [bit] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Salutation], [FirstName], [LastName], [Address1], [Address2], [City], [StateProvinceID], [ZipPostalCode], [Email], [IsReceiveNewsletters], [Created], [Modified]) VALUES (1, N'gmeehan', N'gmeehan', N'Mr.', N'Graham', N'Meehan', N'123 Test Street', NULL, N'London', 9, N'N6E 2N9', N'graham_meehan@hotmail.com', 0, CAST(0x0000A0F801156A47 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[StatesProvinces]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StatesProvinces](
	[StateProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Country] [varchar](20) NULL,
	[CurrencyCode] [varchar](3) NULL,
	[TaxRatePercentage] [float] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_StatesProvinces] PRIMARY KEY CLUSTERED 
(
	[StateProvinceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[StatesProvinces] ON
INSERT [dbo].[StatesProvinces] ([StateProvinceID], [Name], [Country], [CurrencyCode], [TaxRatePercentage], [Modified]) VALUES (1, N'Alberta', N'Canada', N'CAD', 5, NULL)
INSERT [dbo].[StatesProvinces] ([StateProvinceID], [Name], [Country], [CurrencyCode], [TaxRatePercentage], [Modified]) VALUES (2, N'British Colombia', N'Canada', N'CAD', 12, NULL)
INSERT [dbo].[StatesProvinces] ([StateProvinceID], [Name], [Country], [CurrencyCode], [TaxRatePercentage], [Modified]) VALUES (3, N'Manitoba', N'Canada', N'CAD', 12, NULL)
SET IDENTITY_INSERT [dbo].[StatesProvinces] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [varchar](10) NOT NULL,
	[Name] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[CategoryID] [int] NOT NULL,
	[MSRP] [float] NOT NULL,
	[isFreeShipping] [bit] NOT NULL,
	[isTaxFree] [bit] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[IsQuantityUnlimited] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[Modified] [datetime] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Products_1] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Products] ([ProductCode], [Name], [Brand], [Description], [CategoryID], [MSRP], [isFreeShipping], [isTaxFree], [QuantityInStock], [IsQuantityUnlimited], [Created], [Modified], [isActive]) VALUES (N'0QEN0BL4OH', N'40" Plasma Television', N'Toshiba', N'Large TV, Great Value', 23, 599.99, 1, 0, 6, 0, CAST(0x0000A102013676A6 AS DateTime), CAST(0x0000A10300DD7168 AS DateTime), 1)
INSERT [dbo].[Products] ([ProductCode], [Name], [Brand], [Description], [CategoryID], [MSRP], [isFreeShipping], [isTaxFree], [QuantityInStock], [IsQuantityUnlimited], [Created], [Modified], [isActive]) VALUES (N'4Q8UMWUV3B', N'Solid Steel Refridgerator', N'General Electric', NULL, 7, 299.99, 0, 0, 3, 0, CAST(0x0000A0F300DD4DAD AS DateTime), CAST(0x0000A10300CE77FE AS DateTime), 1)
INSERT [dbo].[Products] ([ProductCode], [Name], [Brand], [Description], [CategoryID], [MSRP], [isFreeShipping], [isTaxFree], [QuantityInStock], [IsQuantityUnlimited], [Created], [Modified], [isActive]) VALUES (N'51PBBCMUQF', N'3D Blueray Player', N'Samsung', NULL, 0, 499.99, 0, 0, 0, 0, CAST(0x0000A0F300DD2AA5 AS DateTime), NULL, 1)
/****** Object:  Table [dbo].[ProductDeliveryTypes]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDeliveryTypes](
	[ProductDeliveryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [int] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_ProductDelivery] PRIMARY KEY CLUSTERED 
(
	[ProductDeliveryTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Subtotal] [float] NULL,
	[Taxes] [float] NULL,
	[DeliveryCost] [float] NULL,
	[DeliveryTypeID] [int] NULL,
	[GrandTotal] [float] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](10) NULL,
	[Quantity] [int] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LangLabels]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LangLabels](
	[LangLabelCode] [varchar](30) NOT NULL,
	[Value] [varchar](100) NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_LangLabels] PRIMARY KEY CLUSTERED 
(
	[LangLabelCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeliveryType]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeliveryType](
	[DeliveryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Description] [varchar](50) NULL,
	[Cost] [float] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_DeliveryType] PRIMARY KEY CLUSTERED 
(
	[DeliveryTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DeliveryType] ON
INSERT [dbo].[DeliveryType] ([DeliveryTypeID], [Name], [Description], [Cost], [Created], [Modified]) VALUES (1, N'General Mail', N'Purchasel is sent through standard mail system.', 15, CAST(0x0000A0F200EC6321 AS DateTime), NULL)
INSERT [dbo].[DeliveryType] ([DeliveryTypeID], [Name], [Description], [Cost], [Created], [Modified]) VALUES (2, N'Express Mail', N'Purchase is sent through express delivery', 30, CAST(0x0000A0F200EC6321 AS DateTime), NULL)
INSERT [dbo].[DeliveryType] ([DeliveryTypeID], [Name], [Description], [Cost], [Created], [Modified]) VALUES (3, N'Electronic', N'Purchase is sent via e-mail', 0, CAST(0x0000A0F200EC6321 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[DeliveryType] OFF
/****** Object:  Table [dbo].[Configurations]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Configurations](
	[ConfigurationCode] [varchar](20) NOT NULL,
	[Description] [varchar](200) NULL,
	[Value] [varchar](100) NULL,
	[IsYesNoValue] [bit] NULL,
	[YesNoValue] [bit] NULL,
	[Modified] [datetime] NULL,
 CONSTRAINT [PK_Configurations] PRIMARY KEY CLUSTERED 
(
	[ConfigurationCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Description] [varchar](200) NULL,
	[ParentCategoryID] [int] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [ParentCategoryID], [Created], [Modified], [IsActive]) VALUES (1, N'Appliances', N'Household appliances', 0, CAST(0x0000A0F200E3B431 AS DateTime), NULL, 1)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [ParentCategoryID], [Created], [Modified], [IsActive]) VALUES (2, N'Gaming', N'Console, PC and Handheld gaming', 0, CAST(0x0000A0F200E3B431 AS DateTime), NULL, 1)
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [ParentCategoryID], [Created], [Modified], [IsActive]) VALUES (3, N'Cameras & Camcorders', N'Cameras, camcorders and accessories', 0, CAST(0x0000A0F200E404BF AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
/****** Object:  Table [dbo].[AuditTypes]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AuditTypes](
	[AuditTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_AuditTypes] PRIMARY KEY CLUSTERED 
(
	[AuditTypeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Audits]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Audits](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[AuditTypeID] [int] NULL,
	[UserID] [int] NULL,
	[AdminID] [int] NULL,
	[Notes] [varchar](200) NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_Audits] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Administrators]    Script Date: 11/08/2012 13:30:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administrators](
	[AdministratorID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NULL,
	[Password] [varchar](30) NULL,
	[FirstName] [varchar](30) NULL,
	[LastName] [varchar](30) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Administrators] PRIMARY KEY CLUSTERED 
(
	[AdministratorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Administrators] ON
INSERT [dbo].[Administrators] ([AdministratorID], [Username], [Password], [FirstName], [LastName], [IsActive]) VALUES (2, N'admin', N'admin', N'Graham', N'Meehan', 1)
SET IDENTITY_INSERT [dbo].[Administrators] OFF
/****** Object:  Default [DF_Audits_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Audits] ADD  CONSTRAINT [DF_Audits_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Categories_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Categories_IsActive]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  Default [DF_DeliveryType_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[DeliveryType] ADD  CONSTRAINT [DF_DeliveryType_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_OrderItems_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItems_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Orders_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_ProductDeliveryTypes_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[ProductDeliveryTypes] ADD  CONSTRAINT [DF_ProductDeliveryTypes_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Products_CategoryID]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CategoryID]  DEFAULT ((0)) FOR [CategoryID]
GO
/****** Object:  Default [DF_Products_MSRP]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_MSRP]  DEFAULT ((0.00)) FOR [MSRP]
GO
/****** Object:  Default [DF_Products_isFreeShipping]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_isFreeShipping]  DEFAULT ((0)) FOR [isFreeShipping]
GO
/****** Object:  Default [DF_Products_isTaxFree]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_isTaxFree]  DEFAULT ((0)) FOR [isTaxFree]
GO
/****** Object:  Default [DF_Products_QuantityInStock]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_QuantityInStock]  DEFAULT ((0)) FOR [QuantityInStock]
GO
/****** Object:  Default [DF_Products_IsQuantityUnlimited]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsQuantityUnlimited]  DEFAULT ((0)) FOR [IsQuantityUnlimited]
GO
/****** Object:  Default [DF_Products_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Created]  DEFAULT (getdate()) FOR [Created]
GO
/****** Object:  Default [DF_Products_isActive]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_isActive]  DEFAULT ((1)) FOR [isActive]
GO
/****** Object:  Default [DF_Users_Created]    Script Date: 11/08/2012 13:30:02 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Created]  DEFAULT (getdate()) FOR [Created]
GO
