/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

/*
a:link, a:visited
{
    color: #BAD8E9;
    text-decoration:none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}
*/

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, h7
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

h7
{
    font-size: 3.5em;
    font-weight: 600;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    background-color: #fff;
    border: 1px solid #496077;
    min-height:600px;
    margin-top:30px;
}

.header
{
    position: relative;
    padding: 0px;
    min-height:125px;
    width: 100%;
    
    background-image: linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -o-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -moz-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -webkit-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -ms-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.25, rgb(226,229,235)),
	    color-stop(0.63, rgb(250,250,250))
    );
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.header a:link, a:visited
{
    color: #BAD8E9;
    text-decoration:none;
}

.header a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

.header a:active
{
    color: #034af3;
}

.title
{
    margin-left:auto;
    margin-right:auto;
    width: 900px;
    background-color:transparent;
}

.logo
{
    height: 100px; 
    width: 350px;
    margin-top:10px
}

.main
{
    padding: 0px 12px;
    min-height: 420px;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #BFCBD6;
    font-weight:bold;
    font-size:1.3em;
    padding: 8px 0px 8px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    background-image: linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -o-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -moz-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -webkit-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);
    background-image: -ms-linear-gradient(bottom, rgb(226,229,235) 25%, rgb(250,250,250) 63%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.25, rgb(226,229,235)),
	    color-stop(0.63, rgb(250,250,250))
    );
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    /* Gradient backgrounds for the buttons. Generated using http://gradients.glrzad.com/ */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f; /* Fallback */
    clear:both;
}

/* MASTER PAGE
----------------------------------------------------------*/ 
.search
{
    float:left; 
    margin-top:7px; 
    margin-left:213px;
}

#TextBoxSearch
{
    float:left;
    padding:5px;
}

#ButtonSearch
{
    margin-left:5px;
    margin-top:4px;
    float:left;
}

.userPanel
{
    width:300px;
    color:White;
    float:left; 
    margin-top:10px; 
    margin-left:200px;
    padding:5px 10px 5px 10px;
    border:1px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* Gradient backgrounds for the buttons. Generated using http://gradients.glrzad.com/ */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f; /* Fallback */
}

.userPanel a:link, .userPanel a:visited
{
    color: #BAD8E9 !important;
    text-decoration:none;
}

/* LEFT NAVIGATION MENU 
----------------------------------------------------------*/


/*
.left-nav
{
    float: left;
    margin-right: 2px;
}
.nav-head 
{
    background: url("/Images/nav-box-top.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    margin-top: 3px;
    margin-bottom:-13px;
    width: 215px;
    padding-top:3px;
    padding-bottom:8px;
}
.nav-head h1 
{
    max-width: 85%;
    padding-left: 6%; 
}

.nav-box 
{
    background-image: url("/Images/nav-box-mid.gif");
    background-position: left bottom;
    background-repeat: repeat;
    clear: both;
    min-height: 161px;
    margin: 0;
    width: 215px;
}
.nav-box div
{
    padding-left: 6%;
    margin-top:10px;
}

.navitem
{
    height:18px;
    padding-top:0px;
    padding-bottom:0px;
}
.nav-end
{
    background: url("/Images/nav-box-bottom.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    margin-top: -10px;
    width: 215px;
    padding-top:3px;
    padding-bottom:32px;
}
.nav-end p 
{
    padding-left: 6%;
}
*/

.left-nav
{
    float:left;
    height:auto;
    width:20%;
    min-height:400px;
    padding:15px;
    margin-top:15px;
    /*-moz-border-radius: 15px;
    border-radius: 15px;*/
    background-image: linear-gradient(bottom, rgb(255,255,255) 5%, rgb(250,250,250) 53%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 5%, rgb(250,250,250) 53%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 5%, rgb(250,250,250) 53%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 5%, rgb(250,250,250) 53%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 5%, rgb(250,250,250) 53%);
    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.05, rgb(255,255,255)),
	    color-stop(0.53, rgb(250,250,250))
    );
}

.products-content
{
    width:75%; 
    height:auto; 
    margin-left:25%;
    padding-left:30px;
    
}

.subcategory-heading
{
    width:100%;
    text-align:center;
    
}

/* PRODUCT DATA LIST
----------------------------------------------------------*/

.productList
{
    margin-top:40px;
}

.productListOuterCell
{
    border-bottom: 1px dotted silver;
}

.productListInnerCell
{
    text-align:center;
    width:200px;
    height:250px;
    margin-top:10px;
    margin-bottom:10px;
}

.product-image-small
{
    height:130px;
    width:130px;
    margin-left:auto;
    margin-right:auto;
}

.product-price-small
{
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:24px;    
}

.product-name-small
{
    width:100%;
    text-align:center;
    font-size:20px;    
}

.productList a:link, a:visited
{
    color: Gray;
    text-decoration:none;
}

.productList a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

.productList a:active
{
    color: #034af3;
}
    


/* APPLE STYLE NAVIGATION MENU 
----------------------------------------------------------*/
#appleNav 
{   
    margin-left:auto;
    margin-right:auto;
    list-style:none;
    float:none !important;

    /* Lucinda Grande is the font used on the website from Apple. */
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; letter-spacing:-0.5px; font-size:13px;
    
    /* Apply a subtle text-shadow to the text */
    text-shadow: 0 -1px 3px #202020;

    /* We want to add the shadow to the complete navigation menu. In order to do that, we'll need to set
    the correct width and height, and also the correct borders, in order to create the perfect drop shadow */
    width:900px; height:34px;
    
    /* Gradient backgrounds for the buttons. Generated using http://gradients.glrzad.com/ */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f; /* Fallback */
}

#appleNav li { display:block; float:left; border-right:1px solid #5d5d5d; border-left:1px solid #929292; width:220px; height:34px; border-bottom:1px solid #575757; border-top:1px solid #797979;

    /* Gradient backgrounds for the buttons. Generated using http://gradients.glrzad.com/ */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f; /* Fallback */
}

/* Set the states when hovering, except for the last item in the list (the search bar), since it doesn't need to change */
#appleNav li:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838; /* Fallback */
    
    /* We use the inset of the box shadow to create a subtle inner glow when hovering */
    -moz-box-shadow: inset 0 0 5px 5px #535353;
    -webkit-box-shadow: inset 0 0 5px 5px #535353;
    box-shadow: inset 0 0 5px 5px #535353;
}

/* When the user clicks the button, we simply change the box inset (compared to the "hover") */
#appleNav li:active {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838; /* Fallback */
    
    -moz-box-shadow: inset 0 1px 2px 2px #000;
    -webkit-box-shadow: inset 0 1px 2px 2px #000;
    box-shadow: inset 0 1px 2px 2px #000;
}

#appleNav li a { color:white; text-decoration:none; text-align:center; display:block; line-height:34px; outline:none; }

/* Fade in animation (Webkit only) */
/*
@-webkit-keyframes showMenu {
    from { opacity: 0; top:-20px; }
    to   { opacity: 1; }
}
*/

#appleNav {
     -webkit-animation: showMenu 1s; position:relative;
}

/* Index.aspx (DL)  
----------------------------------------------------------*/
.left-content-section 
{
    margin-top:15px;
    margin-left:80px;
    float:left;
    text-align:justify;
}
.right-content-section
{
    margin-top:15px;
    margin-right:80px;
    float:right;
    text-align:justify;
}
.index-list-item
{
    font-size:large;
}
.index-info-box
{
    float: left;
    margin-right: 2px;
}
.info-head 
{
    background: url("/Images/info-box-top.gif") no-repeat scroll 0 0 transparent;
    clear: both;
    margin-top: 3px;
    width: 315px;
}
.info-head h2 
{
    max-width: 85%;
    padding-left: 6%; 
}
.info-box 
{
    background-image: url("/Images/info-box.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    clear: both;
    height: 114px;
    margin: 0;
    width: 315px;
}
.info-box p
{
    max-width: 85%;
    padding-left: 6%;
}
.h-dot 
{
    background: url("/Images/h-dot.gif") repeat-x scroll 0 0 transparent;
    height: 1px;
    margin: 0 24px 0 18px;
}

.featured_slide
{
    width:460px; 
    height:258px;
}

.slide-product-image
{
    height:250px;
    width:250px;
    float:left;
}

.slide-product-detailsDiv
{
    float:left;
    margin-top:10%;
    margin-bottom:10%;
    margin-right:10px;
    margin-left:10px;
    width:190px;
    text-align:center;
}

.slide-product-brand
{
    font-weight:bold;
    font-size:18px;
    color:#0B0B61;
}

.slide-product-name
{
    font-weight:bold;
    font-size:18px;
    color:#0B0B61;
}

.slide-product-price
{
    font-weight:bold;
    font-size:24px;
    color:#B40404;
}

.homepage_products
{
    width:600px; 
    height:auto; 
    margin-left:140px;
}


/* LOGIN PAGE
----------------------------------------------------------*/ 
.userLoginDiv
{
    float:left;
    margin-left: 130px; 
    margin-right:auto; 
    margin-top:50px; 
    width:250px;
    font-weight:bold;
    border:1px solid black;
    padding:0px 20px 20px 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-image: linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -o-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.31, rgb(218,235,235)),
	    color-stop(0.66, rgb(232,243,250))
    );
}

.userLoginButtonDiv
{
    margin-left: auto; 
    margin-right:auto; 
    margin-top:30px; 
    width:95px;
}

.userLoginMessageDiv
{
    margin-left: auto; 
    margin-right:auto; 
    margin-top:30px; 
    width:195px;
    text-align:center;
}

/* Registration Page  
----------------------------------------------------------*/
.registerBlock  
{
    text-align:left; 
    padding-left:25%;
}
.regLabel p  
{
    display:inline-block; 
    width:20%;
}

.regLabel p.ckBox { width:40% !important }

.userContToRegisterButtonDiv
{
    margin-left: auto; 
    margin-right:auto; 
    margin-top:30px; 
    width:195px;
    text-align:center;
}

.userRegisterDiv
{
    float:right;
    margin-left: auto; 
    margin-right:130px; 
    margin-top:50px; 
    width:250px;
    font-weight:bold;
    border:1px solid black;
    padding:0px 20px 20px 20px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-image: linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -o-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -moz-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -webkit-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);
    background-image: -ms-linear-gradient(bottom, rgb(218,235,235) 31%, rgb(232,243,250) 66%);

    background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.31, rgb(218,235,235)),
	    color-stop(0.66, rgb(232,243,250))
    );
}


/* ACCOUNT PAGE  
----------------------------------------------------------*/
.accountBlock  
{
    text-align:left; 
    padding-left:25%;
}
.accLabel p  
{
    display:inline-block; 
    width:20%;
}

.accLabel p.ckBox { width:40% !important }


/* PRODUCT INFO PAGE
----------------------------------------------------------*/
.prodInfo_prodName
{
    font-weight:bold;
    font-size:20px;
    text-align:center;
}

.prodInfo_brand
{
    font-weight:bold;
    font-size:25px;
    float:left;
}

.prodInfo_image
{
    height:350px;
    width:350px;
    float:left;
}

.prodInfo_RightDiv
{
    width:400px;
    float:right;
}

.prodInfo_price
{
    font-weight:bold;
    font-size:40px;
    color:#B40404;
}

.prodInfo_RightInnerDiv
{
    padding:10px;
    border:1px solid silver;
    background-color: #FAFAFA;
}

.prodInfo_quantity
{
    font-weight:bold;
    font-size:16px;
}

.prodInfo_delTypesTitle
{
    font-weight:bold;
    text-decoration:underline;
}

.prodInfo_dtypesGV
{
    
}

.prodInfo_dtypesGVItem
{
    padding-right:20px;
}

.prodInfo_DescriptionDiv
{
    float:left;
    clear:both;
    padding:10px;
    /*border:1px solid silver;*/
    /*background-color: #FAFAFA;*/
    width:100%;
    margin-bottom:30px;
}

.prodInfo_descriptionTitle
{
    font-weight:bold;
    text-decoration:underline;
}

.prodInfo_description
{
    
}

prodInfo_TabControl a:link, prodInfo_TabControl a:visited
{
    color: #BAD8E9;
    text-decoration:none;
}

/* CART ITEMS PAGE
***********************************************************/
.cartItemsList
{
    margin-top:40px;
    border-top:1px solid silver;
    font-weight:bold;
}

.cartItemsListItem
{
    border-bottom:1px solid silver;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
}

.product-image-small-left
{
    height:130px;
    width:130px;
    margin-left:auto;
    margin-right:15px;
    float:left;
    border:1px solid silver;
}

/* CHECKOUT PAGE
----------------------------------------------------------*/
.DataListCheckout
{
    border-top:3px solid silver;
}

.DataListCheckoutItem
{
    border-right:3px solid silver;
    border-left:3px solid silver;
    border-bottom:3px solid silver;
}


/* BUTTONS
----------------------------------------------------------*/
.fancy_button  {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #287ace;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.classname:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/* GRIDVIEW
----------------------------------------------------------*/

.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
} 
.mGrid a { color: #BAD8E9; text-decoration: none; }   
.orderItemLink { color: #666 !important; text-decoration: none; }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.bold
{
    font-weight: bold;
}

.textCenter
{
    text-align:center;
}

.maxWidth
{
    width:100%;
}
